<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448160564242-2cglculgmgb6gu5tk5dvdqm1ohcv7p9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448160564242-2cglculgmgb6gu5tk5dvdqm1ohcv7p9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDUEL9lnf4rvHJb1CtEzRV_yk1socYxR7s</string>
	<key>GCM_SENDER_ID</key>
	<string>448160564242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharjah.ladiesclub</string>
	<key>PROJECT_ID</key>
	<string>sharjah-ladies-club-4bdb3</string>
	<key>STORAGE_BUCKET</key>
	<string>sharjah-ladies-club-4bdb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448160564242:ios:13f64dea9f7b4d6c7204cb</string>
	<key>DATABASE_URL</key>
	<string>https://sharjah-ladies-club-4bdb3.firebaseio.com</string>
</dict>
</plist>